.img-title{
    position:static;
    color: rgb(255, 123, 0);
    text-align: center;
    left: 0;
    right: 0;
    top: 10%;
    letter-spacing: 3px;
    padding-top: 20px;
    
    
    
  }
  .display{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
  #myFooter {
    background-color: #000000;
    color: white;
    padding-bottom: 60px;

/* #myFooter .row {
    margin-bottom: 60px; */
}

#myFooter .info{
    text-align: justify; 
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
    padding-left: 11px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    padding-left: 11px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
  font-size: 30px;
  width: 80px;
}


#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: #ff7300;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

/* html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
} */
.img-wrapper {
    position: relative;
    width: 100%;
   }
  
  .img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  
  .img-overlay:before {
    content: ' ';
    display: block;
    /* adjust 'height' to position overlay content vertically */
    height: 33%;
  }